.card {
    background-color: var(--cor-2-clara);
    color: var(--cor-1);
    width: min(90%, 500px);
    height: 260px;
    box-shadow: var(--sombra-media);
    display: flex;
    transition: 300ms;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 2em;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
    
.card > .img {
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    transition: 500ms;
}

.card:hover > .img {
    transform: scale(1.05);
}

.card > .description {
    padding: 1em;
    display: flex;
    text-align: start;
    width: 60%;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    z-index: 1;
    background-color: var(--cor-2-clara);
}
        
.card p {
    font-size: 0.9em;
    line-height: 1.4em;
    opacity: 0.85;
}

.card h3 {
    font-size: 1.3em;
    line-height: 1.2em;
    color: var(--cor-verde);
    margin-bottom: 5px;
}

.block_icon {
    font-size: 1.2em;
    color: var(--cor-verde);
}
        
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: auto;
    margin-bottom: 10px;
}

.tags > div {
    padding: 3px 10px;
    background-color: var(--cor-verde);
    border-radius: 15px;
    color: var(--cor-2);
    font-size: 0.7em;
}

.clickInfo {
    font-size: 0.8em !important;
    text-align: center;
    opacity: 0.5 !important;
    font-style: italic;
    margin-top: 5px;
}

@media(max-width: 768px) {
    .card {
        flex-direction: column;
        height: auto;
        width: 100%;
        max-width: 450px;
        margin: 2em 0;
    }

    .card > .img {
        width: 100%;
        height: 200px;
    }

    .card > .description {
        width: 93%;
        gap: 0.8em;
    }
    
    .tags {
        margin-top: 10px;
    }
}
